#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid red;
}
#project-list{
    display: flex;
    border: 1px solid yellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.project{
    text-align: center;
    border: 1px solid greenyellow;
}
