#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid red;
}
#project-list{
    display: flex;
    border: 1px solid yellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.project{
    text-align: center;
    color: #112D4E;
    background-color: #DBE2EF;
    border: 1px solid #112D4E;
    padding: 1rem;
    overflow: hidden;
    margin: 0 auto;
}
.css-10mzr36-MuiGrid-root{
    width: min-content;
    margin: 0;
}
.MuiGrid-root{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.project img{

    max-width: 400px;
    max-height: 1000px;
    transition: all 0.3s;
}
