#about{
    border: 1px solid white;
    margin: 1rem;
}
#header{
    border: 1px solid red;
    /* display: flex; */
    text-align: center;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#header span:hover{
    text-shadow: -1px 1px 0 #112D4E,
    1px 1px 0 #112D4E,
    1px -1px 0 #112D4E,
    -1px -1px 0 #112D4E
    ;
}

#info{
    border: 1px solid yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
